body {
  margin: 0;
  padding: 0;
}

#logo {
  display: block;
  height: 288px;
  margin: 0 auto;
  width: 286px;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}